<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="as3App">


        <div class="gmap" ng-controller="gmapController">
            <div id="map" class="gmap_map"></div>

            <div class="gmap__info-panel">

                    <div class="gmap__row gmap__quick-go-box" ng-show="getCentersNumber()">
                        <h2 class="gmap__title">Quick go to the address</h2>
                        <select id="address-to-go">
                            <option ng-repeat="address in addresses | filter:'!!'" value="{{addresses.indexOf(address)}}">{{address.text}}</option>
                        </select>
                        <button ng-click="goToAddress()">Go!</button>
                    </div>

                    <!-- CENTER TYPES -->
                    <div class="gmap__row gmap__ct">
                        <!-- added center types -->
                        <h2 class="gmap__title">Center types</h2>
                        <div ng-show="cts_added.length">
                            <span>Active:</span>
                            <select class="gmap__active-ct" id="active-center-type">
                                <option on-finish-render="ngRepeatFinished" ng-repeat="center in cts_added" value="{{$index}}" ng-selected="!$index">{{center.name}}</option>
                            </select>
                            <span id="added-new-type-msg">Added new type!</span>
                        </div>
                        <ul>
                            <li ng-show="cts_added.length">
                                <a href="" ng-click="removeActiveCenterType()">Remove this type</a>
                            </li>
                            <li ng-show="cts_colors_to_add.length">
                                <a href="" ng-click="is_add_center_type_panel_open = true;">Add new</a>
                            </li>
                        </ul>

                        <!-- add new center type -->
                        <div class="gmap__adding-new-type" ng-show="is_add_center_type_panel_open && cts_colors_to_add.length">
                            <h2 class="gmap__title">Adding new center type</h2>
                            <div class="gmap__add-new-type-selector-holder">
                                <select class="gmap__add-new-type-selector">
                                    <option on-finish-render="ngRepeatFinished" ng-repeat="color in cts_colors_to_add" value="{{$index}}" ng-selected="!$index"></option>
                                </select>
                            </div>

                            <div class="gmap__new-type-name">
                                <input ng-model="ct_name_to_add" />
                                <p ng-show="!ct_name_to_add" class="gmap__error-msg">Please enter name!</p>
                            </div>
                            <button class="gmap__add-new-type-btn" ng-click="addCenterType()">Add</button>
                            <a href="" ng-click="is_add_center_type_panel_open = false; $event.stopPropagation();">Close</a>
                        </div>
                        

                    </div>
                    <!-- CENTER TYPES -->


                    <div class="gmap__info">
                        <h2 class="gmap__title">Info of the current center</h2>
                        <ul>
                            <li ng-show="getCentersNumber()">
                                <a href="" ng-click="removeAllCenters()">Remove ALL centers</a>
                            </li>
                            <li ng-show="address">
                                <a href="" ng-click="removeThisCenter()">Remove this center from the map</a>
                            </li>
                        </ul>

                        <!-- COORDS -->
                        <div class="gmap__row clearfix" ng-show="address">
                            <div class="gmap__lat">
                                <label>Lat</label>
                                <input type="text" ng-model="lat" readonly>
                            </div>
                            <div class="gmap__lng">
                                <label>Lng</label>
                                <input type="text" ng-model="lng" readonly>
                            </div>
                        </div>
                        <!-- /COORDS -->

                        <!-- ADDRESS -->
                        <div class="gmap__address">
                            <p><strong>Address:</strong></p>
                            <p ng-show="address">{{address}}</p>
                            <div class="alert-box" ng-hide="address">
                                Please add a new center or pick an existing on the map
                            </div>
                        </div>
                        <!-- /ADDRESS -->


                        <!-- CONTACT PERSONS -->
                        <div class="gmap__row" ng-show="address">
                            <label>Contact persons</label>
                            <textarea ng-model="contact_details" class="gmap__contact-details"></textarea>
                        </div>
                        <!-- /CONTACT PERSONS -->

                        <!-- PNONES -->
                        <div class="gmap__row" ng-show="address">
                            <label>Phones</label>
                            <textarea ng-model="phones" class="gmap__phones"></textarea>
                        </div>
                        <!-- /PNONES -->

                        <!-- OPENING HOURS -->
                        <div class="gmap__row" ng-show="address">
                            <label>Opening hours</label>
                            <textarea ng-model="opening_hours" class="gmap__opening-hours"></textarea>
                        </div>
                        <!-- /OPENING HOURS -->
                    </div>

            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
        <script src="js/main.js"></script>

    </body>
</html>
