<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="as3App">


        <div class="gmap-module" ng-controller="gmapController">
<!--             <div class="filter-box">
                <h2>Added centers: {{number_of_centers}}</h2>
                <p>
                    Filter by type of center: 
                    <img ng-src="{{filter_center_type.marker_url}}">
                    <select ng-model="filter_selected_center_type" ng-change="filterTypeSelected()">
                        <option on-finish-render="ngRepeatFinished" ng-repeat="item in center_types" value="{{$index}}" ng-selected="$index == 0">{{item.name}}</option>
                    </select>
                    <button>Filter!</button>
                </p>
            </div> -->


            <div class="gmap-module__search-box">
                <h3 class="gmap-module__title">Search address:</h3>
                <p>
                    <input type="text" ng-model="search_address" id="search-address" class="gmap-module__search-address">
                </p>
                <p>
                    <label>Add pin to the map: </label>
                    <input type="checkbox" ng-model="search_is_add_marker">
                </p>
            </div>

            <div id="map" class="gmap-module_map"></div>

            <div class="gmap-module__info-panel">


                <div class="gmap-module__opts">
                    <div class="gmap-module__row">
                        <p>
                            <label>Type of center:</label>
                            <img ng-src="{{active_center_type.marker_url}}">
                        </p>
                        <select ng-model="active_center_type_index" ng-change="centerTypeSelected()">
                            <option on-finish-render="ngRepeatFinished" ng-repeat="center in center_types" value="{{$index}}">{{center.name}}</option>
                        </select>
                    </div>

                    <div class="gmap-module__row">
                        <label>Lat</label>
                        <input type="text" ng-model="lat" readonly>
                    </div>

                    <div class="gmap-module__row">
                        <label>Lng</label>
                        <input type="text" ng-model="lng" readonly>
                    </div>
                </div>

                <div class="gmap-module__address">
                    <h3 class="gmap-module__title">Address:</h3>
                    <p ng-show="address">{{address}}</p>
                    <div class="alert-box" ng-hide="address">
                        Please add a new center or pick an existing on the map
                    </div>
                </div>

                <!-- Tools -->
                <div class="gmap-module__tools">
                    <h3 class="gmap-module__title">Options:</h3>
                    <div class="gmap-module__row">
                        <p><a href="" class="gmap-module_icon icn-default-zoom" ng-click="setDefaultZoom()">Set default zoom</a></p>
                    </div>

                    <div class="gmap-module__row" ng-show="address">
                        <p><a href="" class="gmap-module_icon icn-go-to-marker" ng-click="showActiveMarkerInMapCenter()">Go to the active center</a></p>
                    </div>


                    <div class="gmap-module__row" ng-show="address">
                        <p><a href="" class="gmap-module_icon icn-remove-active" ng-click="removeActiveMarker()">Remove the active center</a></p>
                    </div>

                    <div class="gmap-module__row" ng-show="isAnyMarkerExists()">
                        <p><a href="" class="gmap-module_icon icn-remove-all" ng-click="removeAllMarkers()">Remove ALL centers</a></p>
                    </div>
                </div>
            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//code.angularjs.org/1.3.9/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
        <script src="js/main.js"></script>

    </body>
</html>
