<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="as3App">


        <div class="gmap" ng-controller="gmapController">
            <div id="map" class="gmap_map"></div>

            <div class="gmap__info-panel">

                    <!-- CENTER TYPES -->
                    <div class="gmap__row gmap__ct">

                        <!-- added center types -->
                        <div ng-show="cts_added.length">
                            <select ng-model="active_ct_index" class="gmap__active-ct" id="active-center-type">
                                <option on-finish-render="ngRepeatFinished" ng-repeat="center in cts_added" value="{{$index}}">{{center.name}}</option>
                            </select>
                        </div>
                        <ul>
                            <li ng-show="cts_added.length"><a href="#" ng-click="removeActiveCenterType()">Remove</a></li>
                            <li><a href="#" ng-click="is_add_center_type_panel_open = true">Add new</a></li>
                        </ul>

                        <!-- add new center type -->
                        <div style="padding: 10px; border: 1px dotted #ccc;" ng-show="is_add_center_type_panel_open">
                            <div style="display: inline-block; vertical-align: top; margin-bottom: 10px;">
                                <select ng-model="active_ct_color_to_add_index" class="gmap__add-new-type-selector" style="width: 75px;">
                                    <option on-finish-render="ngRepeatFinished" ng-repeat="color in cts_colors_to_add" value="{{$index}}" ng-selected="$index == 0"></option>
                                </select>
                            </div>
                            <div style="display: inline-block; vertical-align: top; margin-bottom: 10px;">
                                <input ng-model="ct_name_to_add" />
                                <p ng-show="!ct_name_to_add" style="margin: 0; color: #c00; font-size: 11px;">Please enter name!</p>
                            </div>
                            <button class="gmap__add-new-type-btn" ng-click="addNewType()">Add</button>
                            <a href="#" ng-click="is_add_center_type_panel_open = false">Close</a>
                        </div>
                        

                    </div>
                    <!-- CENTER TYPES -->

            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
        <script src="js/main.js"></script>

    </body>
</html>
